/* Normalizar / Reset */
*{
    margin:0;
    padding: 0;
    border:0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
html{
    
    font-size: 100%;
}
h1 , h2 , h3 , h4 , h5 , h6 , p , strong{
    font-weight: inherit;
    font-size: inherit;
    font-style: normal;
}
img{
    display: block;
    width: 100%;
    max-width: 100%;
}
svg{
    display: block;
    width: 100%;
    max-width: 100%;
}
a{
    color:inherit;
    text-decoration: none;

    cursor: crosshair;
}
body{
    /* font-family: 'Montserrat', sans-serif; */
    /* text-transform: uppercase; */
    /* font-weight: 400; */
    /* letter-spacing: 2px; */
    color:white;
    background-color: rgb(0, 0, 0);
    /* background-color: #0f0f0f; */

    cursor: none;

    position: relative;
    overflow: hidden;
}
button{
    background-color: rgba(0, 0, 0, 0);
    cursor: crosshair;
}

/*=================================================*/

.cursor{
    background-color: white;
    width: 3.75rem;
    min-height: 3.75rem;
    border-radius: 50%;
    display: block;

    position: absolute;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

}
.cursor__inner{
    background-color: white;
    /* background-color: lightcoral; */
    /* background-color: lightgreen; */
    /* background-color: lightskyblue; */
    width: 1.25rem;
    height: 1.25rem;
    border: .0625rem solid black;
    border-radius: 50%;
}

.corner{
    /* background-color: orange; */
    /* border: 2px dotted red; */
    width: 15.625rem;
    height: 15.625rem;

    position: fixed;
}
.top__left{
    border-bottom-right-radius: 60%;

    top: 0;
    left: 0;
}
.top__right{
    border-bottom-left-radius: 60%;

    top: 0;
    right: 0;
}
.bottom__left{
    border-top-right-radius: 60%;

    bottom: 0;
    left: 0;
}
.bottom__right{
    border-top-left-radius: 60%;

    bottom: 0;
    right: 0;
}
.corner__area{
    background-color: white;
    width: 15.625rem;
    height: 15.625rem;

    position: absolute;
    top: 0;
    left: 0;

    cursor: crosshair;

    transition: .2s all 0s ease;    /* el efecto no sale como se espera */
}
.home__hide{
    border-bottom-right-radius: 60%;

    top: 0;
    left: 0;

    transform: translateX(-100%) translateY(-100%);
}
.corner:hover .home__hide{
    transform: translateX(0%) translateY(0%);
}
.drop__hide{
    border-bottom-left-radius: 60%;

    top: 0;
    right: 0;

    transform: translateX(100%) translateY(-100%);
}
.corner:hover .drop__hide{
    transform: translateX(0%) translateY(0%);
}
.linkedin__hide{
    border-top-right-radius: 60%;

    bottom: 0;
    left: 0;

    transform: translateX(-100%) translateY(100%);
}
.corner:hover .linkedin__hide{
    transform: translateX(0%) translateY(0%);
}
.github__hide{
    border-top-left-radius: 60%;

    bottom: 0;
    right: 0;

    transform: translateX(100%) translateY(100%);
}
.corner:hover .github__hide{
    transform: translateX(0%) translateY(0%);
}
.corner__img{
    /* background-color: rgba(122, 217, 255, 0.507); */
    width: 80%;
    padding: .625rem;

    position: absolute;

    cursor: crosshair;
}
.home__img{
    top: 0;
    left: 0;
}
.home__black{
    /* background-color: rgba(122, 217, 255, 0.507); */
    /* width: 250px; */
    /* height: 250px; */
    /* border-bottom-right-radius: 60%; */

    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;

    transition: 0.2s all 0.05s ease;
}
.home__hide:hover .home__black{
    /* background-color: brown; */
    opacity: 1;
    /* transform: translateX(0%) translateY(0%); */
}
.drop__img{
    height: 80%;
    /* background-image: url(../assets/icon-drop-white.png); */
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;

    top: 0;
    right: 0;

    animation: rgb__white 5s 0s ease infinite both;
}
.drop__black{
    height: 80%;
    /* background-image: url(../assets/icon-drop-black.png); */
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;

    top: 0;
    right: 0;

    animation: rgb__black 5s 0s ease infinite both;
}
.linkedin__img{
    bottom: 0;
    left: 0;
}
.github__img{
    bottom: 0;
    right: 0;
}

/*-------------------------------------------------*/

.header{
    background-color: burlywood;
    width: 100%;
    /* min-height: 11.875rem; */
    min-height: 20vh;
    padding: .625rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-end;
}
.header__nav{
    background-color: green;
    width: 70%;
    padding: .625rem;
}
.header__ul{
    background-color: lime;
    width: 700px;
    margin: 0 auto ;
    padding: .625rem;

    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}
.header__li{
    background-color: yellow;
    /* width: 100px;
    height: 100px; */
    border-radius: 50%;

    position: relative;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
/* .header__circle{
    background-color: white;
    width: 100px;
    height: 100px;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;

    opacity: 0;

    transition: 0.1s all 0s ease;
}
.header__li:hover .header__circle{
    background-color: rgba(255, 255, 255, 0);
    width: 100px;
    height: 100px;

    border: 4px solid white;

    opacity: 1;
} */
.header__btn{
    background-color: black;
    background-color: rgba(0, 0, 0, 0);
    /* background-color: yellow; */
    width: 100px;
    height: 100px;
    padding: .625rem;
    border-radius: 50%;

    /* opacity: 1; */

    transition: .2s all 0s ease;
}
.header__btn.active{
    background-color: rgba(255, 255, 255, 0);
    background-color: red;
    width: 100px;
    height: 100px;

    border: 2px solid white;

    font-weight: bold;
    border: 4px solid white;
}
.header__img{
    width: 100%;
    height: 100%;

    /* cursor: crosshair; */

    animation: show 1.2s 0s ease 1 backwards;
}
.header__separator{
    background-color: white;
    width: 100%;
    min-height: 2px;

    animation: grow 1.2s 0s ease 1 backwards;
}
@keyframes show{
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes grow{
    0%{
        transform: scaleX(0);
    }
    100%{
        transform: scaleX(1);
    }
}

/*-------------------------------------------------*/

.main{
    background-color: lightgreen;
    width: 100%;
    /* height: 80vh; */
    /* padding: 4.5rem .625rem; */
    margin: auto;

    /* display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center; */

    position: relative;
}
.main__section:first-child{
    position: static;
}
.main__section{
    background-color: blue;
    /* width: 80%;
    max-width: 1200px;
    min-height: 400px; */
    /* width: 82%; */
    width: 100%;
    max-width: 1000px;
    /* min-height: 100vh; */
    padding: .625rem;
    margin: auto;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;

    position: absolute;
    top: 0;

    transition: opacity .5s ease;
    opacity: 1;

    /* animation: view 1s 0s ease 1 backwards; */
}
.main__section.active{
    opacity: 1;

    /* animation: view 1s 0s ease 1 backwards; */
}
@keyframes view{
    0%{
        transform: translateY(200%);
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}
.section__img{
    /* background-color: lightpink; */
    /* width: 50%;
    min-height: 400px; */
    width: 50%;
    max-width: 400px;
    /* height: 100%; */
    padding: .625rem;
    /* max-width: 550px; */
    /* object-fit: contain; */
    /* object-fit: cover; */
    /* object-fit: fill; */
    /* object-fit: scale-down; */
}
.developer__img{
    /* object-fit: contain; */
}
.section__wrap{
    /* background-color: brown; */
    width: 50%;
    padding: .625rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
}
.section__h2{
    /* background-color: lightcoral; */
    width: 100%;

    font-size: 3rem;
    /* font-family: 'Permanent Marker', cursive; */
    font-family: 'Caveat', cursive;
    /* text-transform: uppercase; */
    font-weight: 900;
    /* letter-spacing: -2px; */
    line-height: 1.3rem;
    text-align: left;
}
.section__separator{
    background-color: white;
    width: 220px;
    min-height: 2px;
    margin: 10px 17px 20px;
}
.section__p{
    /* background-color: lightskyblue; */
    width: 100%;

    font-size: 2rem;
    font-family: 'Caveat', cursive;
    /* text-transform: uppercase; */
    /* letter-spacing: -2px; */
    line-height: 2rem;
    text-align: left;
} 

/*-------------------------------------------------*/

.footer{}

/*-------------------------------------------------*/

@keyframes rgb__white{
    0%{
        /* background-color: rgba(255, 0, 0, 0.2); */
        /* filter: hue-rotate(0deg) saturate(100%) brightness(50%); */
        background-image: url(../assets/icon-drop-white-red.png);
    }
    33%{
        /* background-color: rgba(0, 255, 0, 0.2); */
        /* filter: hue-rotate(120deg) saturate(1000%) brightness(1000%); */
        background-image: url(../assets/icon-drop-white-green.png);
    }
    66%{
        /* background-color: rgba(0, 0, 255, 0.2); */
        /* filter: hue-rotate(60deg) saturate(1000%) brightness(500%); */
        background-image: url(../assets/icon-drop-white-blue.png);
    }
    100%{
        /* background-color: rgba(255, 0, 0, 0.2); */
        /* filter: hue-rotate(50deg) saturate(50%) brightness(50%); */
        background-image: url(../assets/icon-drop-white-red.png);
    }
}
@keyframes rgb__black{
    0%{
        /* background-color: rgba(255, 0, 0, 0.2); */
        /* filter: hue-rotate(0deg) saturate(100%) brightness(50%); */
        background-image: url(../assets/icon-drop-black-red.png);
    }
    33%{
        /* background-color: rgba(0, 255, 0, 0.2); */
        /* filter: hue-rotate(120deg) saturate(1000%) brightness(1000%); */
        background-image: url(../assets/icon-drop-black-green.png);
    }
    66%{
        /* background-color: rgba(0, 0, 255, 0.2); */
        /* filter: hue-rotate(60deg) saturate(1000%) brightness(500%); */
        background-image: url(../assets/icon-drop-black-blue.png);
    }
    100%{
        /* background-color: rgba(255, 0, 0, 0.2); */
        /* filter: hue-rotate(50deg) saturate(50%) brightness(50%); */
        background-image: url(../assets/icon-drop-black-red.png);
    }
}

/*-------------------------------------------------*/

@media(max-width: 900px){
    .main__section{
        width: 80%;
        flex-direction: column;
    }
    .section__img{
        max-width: 500px;
        /* width: 40%; */
        width: 70%;
        max-width: 400px;
        min-width: 250px;
        height: 100%;
        padding: .625rem;
    }
    .section__wrap{
        width: 100%;
    }
}