/* Normalizar / Reset */
*{
    margin:0;
    padding: 0;
    border:0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
html{
    
    font-size: 100%;
}
h1 , h2 , h3 , h4 , h5 , h6 , p , strong{
    font-weight: inherit;
    font-size: inherit;
    font-style: normal;
}
img{
    display: block;
    width: 100%;
    max-width: 100%;
}
svg{
    display: block;
    width: 100%;
    max-width: 100%;
}
a{
    color:inherit;
    text-decoration: none;

    cursor: crosshair;
}
body{
    /* font-family: 'Montserrat', sans-serif; */
    /* text-transform: uppercase; */
    /* font-weight: 400; */
    /* letter-spacing: 2px; */
    /* color:white; */
    background-color: rgb(0, 0, 0);
    /* background-color: #0f0f0f; */

    cursor: none;
    /* cursor: crosshair; */

    position: relative;
    overflow: hidden;
}
button{
    /* cursor: none; */
    cursor: crosshair;
}

/*=================================================*/

.cursor{
    background-color: white;
    /* background-color: red; */
    width: 60px;
    min-height: 60px;
    border-radius: 50%;
    display: block;

    /* filter: blur(0.1em); */
    
    position: absolute;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

}
.cursor__inner{
    background-color: white;
    /* background-color: lightcoral; */
    /* background-color: lightgreen; */
    /* background-color: lightskyblue; */
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;

    /* filter: blur(0.1em); */

    /* animation: cursor__animation 2s 0s linear infinite both; */
}
/* @keyframes cursor__animation{
    0%{
        border: 0.1vw solid black;
    }
    50%{
        border: 0.3vw solid black;
    }
    100%{
        border: 0.1vw solid black;
    }
}  */

.corner{
    background-color: orange;
    width: 250px;
    height: 250px;
    /* padding: 10px; */

    position: fixed;

    /* top: 0;
    left: 0; */

    cursor: auto;
}
.topleft{
    border-bottom-right-radius: 60%;

    top: 0;
    left: 0;
}
.topright{
    border-bottom-left-radius: 60%;

    top: 0;
    right: 0;
}
.bottomleft{
    border-top-right-radius: 60%;

    bottom: 0;
    left: 0;
}
.bottomright{
    border-top-left-radius: 60%;

    bottom: 0;
    right: 0;
}
.corner__area{
    background-color: lightseagreen;
    width: 400px;
    height: 400px;
    padding: 10px;
    border-radius: 40%;

    position: absolute;
    top: -150px;
    left: -150px;
    top: 0;
    left: 0;

    cursor: crosshair;

    transition: all .2s ease;
}
.topl{
    top: -150px;
    left: -150px;

    transform: translateX(-100%) translateY(-100%);
}
.corner:hover .topl{
    transform: translateX(0%) translateY(0%);
}
.topr{
    top: -150px;
    right: 150px;

    transform: translateX(100%) translateY(-100%);
}
.corner:hover .topr{
    transform: translateX(0%) translateY(0%);
}
.bottoml{
    bottom: 150px;
    left: -150px;

    transform: translateX(-100%) translateY(100%);
}
.corner:hover .bottoml{
    transform: translateX(0%) translateY(0%);
}
.bottomr{
    bottom: 150px;
    right: 150px;

    transform: translateX(100%) translateY(100%);
}
.corner:hover .bottomr{
    transform: translateX(0%) translateY(0%);
}
.corner__img{
    background-color: rgba(122, 217, 255, 0.507);
    width: 80%;
    padding: 10px;
    border-radius: 50%;

    position: absolute;
    /* top: 0;
    left: 0; */

    cursor: crosshair;
}
.tleft{
    top: 0;
    left: 0;
}
.tright{
    top: 0;
    right: 0;
}
.bleft{
    bottom: 0;
    left: 0;
}
.bright{
    bottom: 0;
    right: 0;
}

/*-------------------------------------------------*/

.header{}
.header__ul{}
.header__li{
    /* background-color: peru; */
    /* width: 300px;
    height: 300px; */
    width: 20vw;
    height: 20vw;

    position: absolute;
    z-index: 2;

    /* border: 2px dotted red; */
    border-radius: 50%;

    cursor: crosshair;
}
.header__dot{
    background-color: white;
    /* width: 300px;
    height: 300px; */
    width: 20vw;
    height: 20vw;

    border-radius: 40%;
    position: absolute;

    transition: all .2s ease;
}
.header__icon{
    /* background-color: green; */
    background-color: black;

    position: absolute;
}
/* .header__svg{} */
.header__drop{
    animation: rgb__animation 5s 0s ease infinite both;
}
@keyframes rgb__animation{
    0%{
        color: red;
    }
    33%{
        color: green;
    }
    66%{
        color: blue;
    }
    100%{
        color: red;
    }
} 
.header__see{}
.dark{
    background-color: rgb(0, 0, 0);
}
.light{
    background-color: rgb(255, 255, 255);
}
.top__left{
    top: 0;
    left: 0;

    transform: translateX(-50%) translateY(-50%);
}
.north__west{
    top: 0;
    left: 0;

    transform: translateX(-50%) translateY(-50%);
}
.tl{
    bottom: 20%;
    right: 20%;
}
.top__left:hover .north__west{
    transform: translateX(0%) translateY(0%);
}
.top__right{
    top: 0;
    right: 0;

    transform: translateX(50%) translateY(-50%);
}
.north__est{
    top: 0;
    left: 0;

    transform: translateX(50%) translateY(-50%);
}
.tr{
    bottom: 20%;
    left: 20%;
}
.top__right:hover .north__est{
    transform: translateX(0%) translateY(0%);
}

/*-------------------------------------------------*/

.main{
    /* background-color: lightgreen; */
    width: 100%;
    height: 100vh;
    padding: 10px;
}
.main__grid{
    /* background-color: blue; */
    width: 100%;
    height: 100%;
    /* padding: 20px; */

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
.main__cell{
    /* background-color: lime; */
    padding: 10px;

    /* z-index: 1; */

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.empty{
    background-color: rgba(0, 255, 0, 0);
    /* opacity: 0; */
    /* z-index: -1; */
}
.main__area{
    /* background-color: yellow; */
        /* width: 100px;
        height: 100px; */
    width: 24vw;
    height: 4vw;
    /* padding: 10px; */

    /* border: 2px dotted red; */
    /* border-radius: 50%; */
    border-radius: 40px;

    position: relative;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.main__remember{
    background-color: white;
        /* width: 20px;
        height: 20px; */
    width: 1vw;
    height: 1vw;

    /* border: 0.1vw solid black; */
    border-radius: 50%;

    position: absolute;
}
.main__dot{
    background-color: white;
        /* width: 20px;
        height: 20px; */
    width: 1vw;
    height: 1vw;

    /* border: 0.1vw solid black; */
    border-radius: 50%;

    position: absolute;

    transition: all .2s ease;
}
.delay__first{
    animation: remember__animation 10s 0s ease infinite both;
}
.delay__second{
    animation: remember__animation 10s 0.5s ease infinite both;
}
.delay__third{
    animation: remember__animation 10s 1s ease infinite both;
}
.delay__fourth{
    animation: remember__animation 10s 1.5s ease infinite both;
}
@keyframes remember__animation{
    0%{
        transform: scale(1);
    }
    1%{
        transform: scale(1);
    }
    4%{
        transform: scale(2);
    }
    7%{
        transform: scale(1);
    }
    100%{
        transform: scale(1);
    }
} 
.main__a{
    background-color: rgba(255, 255, 255, 0);
    width: 24vw;
    /* border: 2px dotted yellow; */
    padding: 0.1vw 0.5vw;
    border-radius: 30px;
    
    position: absolute;

    overflow: hidden;

    opacity: 0;
    /* transition: .2s all .1s ease; */
    transition: all 0.2s ease;
}
.main__h2{
    /* font-size: 1.9vw; */
    font-size: 3vw;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Caveat', cursive;
    /* text-transform: uppercase; */
    /* letter-spacing: -2px; */
    line-height: 3.8vw;
    text-align: center;
    font-weight: 900;
}
.main__area:hover .main__dot{
    border-radius: 40px;
    /* transform: scale(5); */
    /* transform: scaleX(15) scaleY(5); */
    width: 24vw;
    height: 4vw;
}
.main__a:hover {
    opacity: 1;
}
.main__h1{
    /* background-color: yellow; */
    width: 20vw;
    height: 20vw;
    padding: 10px;

    /* border: 2px dotted red; */
    border-radius: 50%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.main__logo{
    width: 100%;
    height: 100%;

    animation: logo__remember 20s 2s ease infinite both;
}
@keyframes logo__remember{
    0%{
        transform: scale(1);
    }
    2.5%{
        transform: scale(0.8) rotate(10deg);
    }
    7.5%{
        transform: scale(1.5) rotate(-720deg);
    }
    9%{
        transform: scale(1.7) rotate(-720deg);
    }
    10%{
        transform: scale(1.7) rotate(-720deg);
    }
    12.5%{
        transform: scale(1.5) rotate(-720deg);
    }
    25%{
        transform: scale(1) rotate(-720deg);
    }
    100%{
        transform: scale(1) rotate(-720deg);
    }
}

.main__mobile{
    /* background-color: blue; */
    width: 100%;
    min-height: 100%;
    padding: 10px;

    display: none;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.mobile__h1{
    /* background-color: burlywood; */
    width: 80%;
    width: 40vh;
    /* object-fit: contain; */
}
.mobile__logo{
    /* background-color: yellow; */
    width: 80%;
    margin: auto;
}
.mobile__nav{
    /* background-color: lightgreen; */
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.mobile__ul{
    /* background-color: peru; */
    width: 80%;
    padding: 10px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap:30px;
}
.mobile__li{
    background-color: white;
    /* background-color: purple; */
    width: 95%;
    min-width: 200px;
    border-radius: 30px;

    z-index: 1;
}
.mobile__a{
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    padding: 10px;
    border-radius: 30px;
}
.mobile__h2{
    font-size: 2rem;
    font-family: 'Caveat', cursive;
    line-height: 1rem;
    text-align: center;
    font-weight: 900;
}

/*-------------------------------------------------*/

.footer{}
.footer__ul{}
.footer__li{
    /* background-color: peru; */
    /* width: 300px;
    height: 300px; */
    width: 20vw;
    height: 20vw;

    position: absolute;
    z-index: 2;

    /* border: 2px dotted red; */
    border-radius: 50%;

    cursor: crosshair;
}
.footer__dot{
    background-color: white;
    /* width: 300px;
    height: 300px; */
    width: 20vw;
    height: 20vw;

    border-radius: 40%;
    position: absolute;

    transition: all .2s ease;
}
.footer__ssnn{
    /* background-color: green; */
    background-color: black;

    position: absolute;
}
.footer__svg{}
.footer__svg{}
.bottom__left{
    bottom: 0;
    left: 0;

    transform: translateX(-50%) translateY(50%);
}
.south__west{
    top: 0;
    left: 0;

    transform: translateX(-50%) translateY(50%);
}
.bl{
    top: 20%;
    right: 20%;
}
.bottom__left:hover .south__west{
    transform: translateX(0%) translateY(0%);
}
.bottom__right{
    bottom: 0;
    right: 0;

    transform: translateX(50%) translateY(50%);
}
.south__est{
    top: 0;
    left: 0;

    transform: translateX(50%) translateY(50%);
}
.br{
    top: 20%;
    left: 20%;
}
.bottom__right:hover .south__est{
    transform: translateX(0%) translateY(0%);
}

/*-------------------------------------------------*/

@media(max-width: 450px){
    .main__grid{
        display: none;
    }
    .main__mobile{
        display: flex;
    }
    /* .cursor{
        width: 20px;
        min-height: 20px;
    }           Problema en modo mobile para central el circulo en el puntero
    .cursor__inner{
        width: 6px;
        height: 6px;
        border: 0.4px solid black;
    }           Problema en modo mobile para central el circulo en el puntero */
}