/* Normalizar / Reset */
*{
    margin:0;
    padding: 0;
    border:0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
html{
    
    font-size: 100%;
}
h1 , h2 , h3 , h4 , h5 , h6 , p , strong{
    font-weight: inherit;
    font-size: inherit;
    font-style: normal;
}
img{
    display: block;
    width: 100%;
    max-width: 100%;
}
svg{
    display: block;
    width: 100%;
    max-width: 100%;
}
a{
    color:inherit;
    text-decoration: none;

    cursor: crosshair;
}
body{
    /* font-family: 'Montserrat', sans-serif; */
    /* text-transform: uppercase; */
    /* font-weight: 400; */
    /* letter-spacing: 2px; */
    /* color:white; */
    background-color: rgb(0, 0, 0);
    /* background-color: #0f0f0f; */

    cursor: none;

    position: relative;
    overflow: hidden;
}
button{
    cursor: crosshair;
}

/*=================================================*/

.cursor{
    background-color: white;
    width: 3.75rem;
    min-height: 3.75rem;
    border-radius: 50%;
    display: block;

    position: absolute;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

}
.cursor__inner{
    background-color: white;
    /* background-color: lightcoral; */
    /* background-color: lightgreen; */
    /* background-color: lightskyblue; */
    width: 1.25rem;
    height: 1.25rem;
    border: .0625rem solid black;
    border-radius: 50%;
}

.corner{
    /* background-color: orange; */
    /* border: 2px dotted red; */
    width: 15.625rem;
    height: 15.625rem;

    position: fixed;
}
.topleft{
    border-bottom-right-radius: 60%;

    top: 0;
    left: 0;
}
.topright{
    border-bottom-left-radius: 60%;

    top: 0;
    right: 0;
}
.bottomleft{
    border-top-right-radius: 60%;

    bottom: 0;
    left: 0;
}
.bottomright{
    border-top-left-radius: 60%;

    bottom: 0;
    right: 0;
}
.corner__area{
    background-color: white;
    width: 15.625rem;
    height: 15.625rem;

    position: absolute;
    top: 0;
    left: 0;

    cursor: crosshair;

    /* transition: .2s all 0s ease; */
}
.topl{
    border-bottom-right-radius: 60%;

    top: 0;
    left: 0;

    transform: translateX(-100%) translateY(-100%);
}
.corner:hover .topl{
    transform: translateX(0%) translateY(0%);
}
.topr{
    border-bottom-left-radius: 60%;

    top: 0;
    right: 0;

    transform: translateX(100%) translateY(-100%);
}
.corner:hover .topr{
    transform: translateX(0%) translateY(0%);
}
.bottoml{
    border-top-right-radius: 60%;

    bottom: 0;
    left: 0;

    transform: translateX(-100%) translateY(100%);
}
.corner:hover .bottoml{
    transform: translateX(0%) translateY(0%);
}
.bottomr{
    border-top-left-radius: 60%;

    bottom: 0;
    right: 0;

    transform: translateX(100%) translateY(100%);
}
.corner:hover .bottomr{
    transform: translateX(0%) translateY(0%);
}
.corner__img{
    /* background-color: rgba(122, 217, 255, 0.507); */
    width: 80%;
    padding: .625rem;

    position: absolute;

    cursor: crosshair;
}
.tleft{
    top: 0;
    left: 0;
}
.tleft__black{
    /* background-color: rgba(122, 217, 255, 0.507); */
    /* width: 250px; */
    /* height: 250px; */
    /* border-bottom-right-radius: 60%; */

    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;

    transition: 0.2s all 0.05s ease;
}
.topl:hover .tleft__black{
    /* background-color: brown; */
    opacity: 1;
    /* transform: translateX(0%) translateY(0%); */
}
.tright__white, .tright__black{
    height: 80%;
    /* background-image: url(../assets/icon-drop-white.png); */
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;

    top: 0;
    right: 0;

    animation: rgb__white 5s 0s ease infinite both;
}
.tright__black{
    height: 80%;
    /* background-image: url(../assets/icon-drop-black.png); */
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;

    top: 0;
    right: 0;

    animation: rgb__black 5s 0s ease infinite both;
}
.bleft{
    bottom: 0;
    left: 0;
}
.bright{
    bottom: 0;
    right: 0;
}


/*-------------------------------------------------*/



/*-------------------------------------------------*/

.main{
    /* background-color: lightgreen; */
    /* width: 100%; */
    height: 100vh;
    padding: .625rem;
}
.main__grid{
    /* background-color: blue; */
    width: 100%;
    height: 100%;
    /* padding: 20px; */

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.25rem;
}
.main__cell{
    /* background-color: lime; */
    padding: .625rem;

    /* z-index: 1; */

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.empty{
    background-color: rgba(0, 255, 0, 0);
    /* opacity: 0; */
    /* z-index: -1; */
}
.main__area{
    /* background-color: yellow; */
        width: 28.125rem;
        height: 4.6875rem;
    /* width: 24vw;
    height: 4vw; */
    /* padding: 10px; */

    /* border: 2px dotted red; */
    /* border-radius: 50%; */
    border-radius: 2.5rem;

    position: relative;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.main__remember{
    background-color: white;
    width: 1.25rem;
    height: 1.25rem;
    /* width: 1vw;
    height: 1vw; */

    /* border: 0.1vw solid black; */
    border-radius: 50%;

    position: absolute;
}
.main__dot{
    background-color: white;
    width: 1.25rem;
    height: 1.25rem;
    /* width: 1vw;
    height: 1vw; */

    /* border: 0.1vw solid black; */
    border-radius: 50%;

    position: absolute;

    transition: .2s all 0s ease;
}
.delay__first{
    animation: dot__remember 10s 0s ease infinite both;
}
.delay__second{
    animation: dot__remember 10s 0.5s ease infinite both;
}
.delay__third{
    animation: dot__remember 10s 1s ease infinite both;
}
.delay__fourth{
    animation: dot__remember 10s 1.5s ease infinite both;
}

.main__a{
    /* background-color: rgba(255, 255, 255, 0.671); */
    width: 28.125rem;
    /* width: 24vw; */
    /* border: 2px dotted yellow; */
    /* padding: 2px 10px; */
    /* padding: 0.1vw 0.5vw; */
    border-radius: 1.875rem;
    
    position: absolute;

    overflow: hidden;

    opacity: 0;
    /* transition: .2s all .1s ease; */
    transition: .2s all 0s ease;
}
.main__h2{
    /* font-size: 1.9vw; */
    font-size: 3.75rem;
    /* font-size: 3vw; */
    /* font-family: 'Permanent Marker', cursive; */
    font-family: 'Caveat', cursive;
    /* text-transform: uppercase; */
    /* letter-spacing: -2px; */
    line-height: 4.75rem;
    /* line-height: 3.8vw; */
    text-align: center;
    font-weight: 900;
}
.main__area:hover .main__dot{
    border-radius: 2.5rem;
    /* transform: scale(5); */
    /* transform: scaleX(15) scaleY(5); */
    width: 28.125rem;
    height: 4.6875rem;
    /* width: 24vw;
    height: 4vw; */
}
.main__a:hover {
    opacity: 1;
}
.main__h1{
    /* background-color: yellow; */
    width: 25rem;
    height: 25rem;
    /* width: 20vw;
    height: 20vw; */
    padding: .625rem;

    /* border: 2px dotted red; */
    border-radius: 50%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.main__logo{
    width: 100%;
    height: 100%;

    animation: logo__remember 20s 2s ease infinite both;
}

.main__mobile{
    /* background-color: blue; */
    width: 100%;
    min-height: 100%;
    padding: .625rem;

    display: none;
    justify-content:space-around;
    align-items: center;
    gap: .625rem;
}
.main__horizontal{
    flex-flow: row nowrap;
}
.main__vertical{
    flex-flow: column nowrap;
}
.mobile__h1{
    /* background-color: burlywood; */
    /* width: 80%; */
    /* width: 70%; */
    width: 100%;
    min-width: 12.5rem;
    /* width: 40vh; */
    /* object-fit: contain; */
    margin: auto 0;
}
.mobile__logo{
    /* background-color: yellow; */
    max-width: 20rem;
    max-height: 20rem;
    margin: auto;

    animation: logo__mobile 20s 2s ease infinite both;
}
.logo__horizontal{
    width: 85%;
}
.logo__vertical{
    width: 80%;
}
.mobile__nav{
    /* background-color: lightgreen; */
    width: 100%;
    /* height: 100%; */

    margin: auto 0;

    /* display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center; */
}
.mobile__ul{
    /* background-color: peru; */
    width: 80%;
    height: 50vh;
    min-height: 20rem;
    padding: .625rem;
    margin: auto;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.875rem;
}
.mobile__li{
    background-color: white;
    /* background-color: purple; */
    width: 95%;
    min-width: 12.5rem;
    border-radius: 1.875rem;

    z-index: 1;
}
.mobile__a{
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    padding: .625rem;
    border-radius: 1.875rem;
}
.mobile__h2{
    font-size: 2rem;
    font-family: 'Caveat', cursive;
    line-height: 1rem;
    text-align: center;
    font-weight: 900;
}

/*-------------------------------------------------*/
@keyframes rgb__white{
    0%{
        /* background-color: rgba(255, 0, 0, 0.2); */
        /* filter: hue-rotate(0deg) saturate(100%) brightness(50%); */
        background-image: url(../assets/icon-drop-white-red.png);
    }
    33%{
        /* background-color: rgba(0, 255, 0, 0.2); */
        /* filter: hue-rotate(120deg) saturate(1000%) brightness(1000%); */
        background-image: url(../assets/icon-drop-white-green.png);
    }
    66%{
        /* background-color: rgba(0, 0, 255, 0.2); */
        /* filter: hue-rotate(60deg) saturate(1000%) brightness(500%); */
        background-image: url(../assets/icon-drop-white-blue.png);
    }
    100%{
        /* background-color: rgba(255, 0, 0, 0.2); */
        /* filter: hue-rotate(50deg) saturate(50%) brightness(50%); */
        background-image: url(../assets/icon-drop-white-red.png);
    }
}
@keyframes rgb__black{
    0%{
        /* background-color: rgba(255, 0, 0, 0.2); */
        /* filter: hue-rotate(0deg) saturate(100%) brightness(50%); */
        background-image: url(../assets/icon-drop-black-red.png);
    }
    33%{
        /* background-color: rgba(0, 255, 0, 0.2); */
        /* filter: hue-rotate(120deg) saturate(1000%) brightness(1000%); */
        background-image: url(../assets/icon-drop-black-green.png);
    }
    66%{
        /* background-color: rgba(0, 0, 255, 0.2); */
        /* filter: hue-rotate(60deg) saturate(1000%) brightness(500%); */
        background-image: url(../assets/icon-drop-black-blue.png);
    }
    100%{
        /* background-color: rgba(255, 0, 0, 0.2); */
        /* filter: hue-rotate(50deg) saturate(50%) brightness(50%); */
        background-image: url(../assets/icon-drop-black-red.png);
    }
}
@keyframes dot__remember{
    0%{
        transform: scale(1);
    }
    1%{
        transform: scale(1);
    }
    4%{
        transform: scale(2);
    }
    7%{
        transform: scale(1);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes dot__mobile{
    0%{
        transform: scale(1);
    }
    1%{
        transform: scale(1);
    }
    4%{
        transform: scale(1.3);
    }
    7%{
        transform: scale(1);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes logo__remember{
    0%{
        transform: scale(1);
    }
    2.5%{
        transform: scale(0.8) rotate(10deg);
    }
    7.5%{
        transform: scale(1.5) rotate(-720deg);
    }
    9%{
        transform: scale(1.7) rotate(-720deg);
    }
    10%{
        transform: scale(1.7) rotate(-720deg);
    }
    12.5%{
        transform: scale(1.5) rotate(-720deg);
    }
    25%{
        transform: scale(1) rotate(-720deg);
    }
    100%{
        transform: scale(1) rotate(-720deg);
    }
}
@keyframes logo__mobile{
    0%{
        transform: scale(1);
    }
    2.5%{
        transform: scale(0.8) rotate(10deg);
    }
    7.5%{
        transform: scale(1.25) rotate(-720deg);
    }
    9%{
        transform: scale(1.4) rotate(-720deg);
    }
    10%{
        transform: scale(1.4) rotate(-720deg);
    }
    12.5%{
        transform: scale(1.25) rotate(-720deg);
    }
    25%{
        transform: scale(1) rotate(-720deg);
    }
    100%{
        transform: scale(1) rotate(-720deg);
    }
}

/*-------------------------------------------------*/

@media(max-width: 1500px){
    .main__area{
        width: 25rem;
        height: 4.6875rem;
    }
    .main__h1{
        width: 21.875rem;
        height: 21.875rem;
    }
    .main__area:hover .main__dot{
        width: 25rem;
        height: 4.6875rem;
    }
}
@media(max-width: 1400px){
    .main__area{
        width: 21.875rem;
        height: 4.6875rem;
    }
    .main__h1{
        width: 18.75rem;
        height: 18.75rem;
    }
    .main__area:hover .main__dot{
        width: 21.875rem;
        height: 4.6875rem;
    }
}
@media(max-width: 1300px) or (max-height: 750px){
    .corner, .corner__area{
        width: 12.5rem;
        height: 12.5rem;
    }
}
@media(max-width: 1200px) or (max-height: 750px){
    .main__area{
        width: 18.75rem;
        height: 4.6875rem;
    }
    .main__h1{
        width: 15.625rem;
        height: 15.625rem;
    }
    .main__area:hover .main__dot{
        width: 18.75rem;
        height: 4.6875rem;
    }
    .main__h2{
        font-size: 3.125rem;
        line-height: 4.75rem;
    }
}
@media(max-width: 1100px){
    .main__area{
        width: 15.625rem;
        height: 4.6875rem;
    }
    .main__h1{
        width: 15.625rem;
        height: 15.625rem;
    }
    .main__area:hover .main__dot{
        width: 15.625rem;
        height: 4.6875rem;
    }
    .main__h2{
        font-size: 2.5rem;
        line-height: 4.75rem;
    }
}
/* @media(max-width: 1000px){

} */
@media(max-width: 900px) or (max-height: 600px){
    .corner, .corner__area{
        width: 9.375rem;
        height: 9.375rem;
    }
    .main__area{
        width: 12.5rem;
        height: 4.6875rem;
    }
    .main__h1{
        width: 12.5rem;
        height: 12.5rem;
    }
    .main__area:hover .main__dot{
        width: 12.5rem;
        height: 4.6875rem;
    }
    .main__h2{
        font-size: 2.1875rem;
        line-height: 4.75rem;
    }
}
/* @media(max-width: 800px){

} */
@media(max-width: 750px)  or (max-height: 525px){
    .main__area{
        width: 10.9375rem;
        height: 3.75rem;
    }
    .main__h1{
        width: 12.5rem;
        height: 12.5rem;
    }
    .main__area:hover .main__dot{
        width: 10.9375rem;
        height: 3.75rem;
    }
    .main__h2{
        font-size: 1.875rem;
        line-height: 3.75rem;
    }
}
@media(max-width: 675px){
    body{
        overflow: auto;
    }
    .cursor{
        display: none;
    }
    .corner{
        display: none;
    }
    .main__grid{
        display: none;
    }
    .main__mobile{
        display: flex;
    }
    .main__horizontal{
        display: flex;
    }
    .main__vertical{
        display: none;
    }
    .delay__first{
        animation: dot__mobile 10s 0s ease infinite both;
    }
    .delay__second{
        animation: dot__mobile 10s 0.5s ease infinite both;
    }
    .delay__third{
        animation: dot__mobile 10s 1s ease infinite both;
    }
    .delay__fourth{
        animation: dot__mobile 10s 1.5s ease infinite both;
    }
}
@media(max-width: 500px){
    /* body{
        overflow: auto;
    } */
    /* .main__grid{
        display: none;
    } */
    /* .main__mobile{
        display: flex;
    } */
    .main__horizontal{
        display: none;
    }
    .main__vertical{
        display: flex;
    }
    /* .cursor{
        display: none;
    } */
    /* .corner{
        display: none;
    } */
}

@media(max-height: 450px){
    body{
        overflow: auto;
        cursor: crosshair;
    }
    .cursor{
        display: none;
    }
    .corner{
        display: none;
    }
    .main__grid{
        display: none;
    }
    .main__mobile{
        display: flex;
    }
    .main__horizontal{
        display: flex;
    }
    .main__vertical{
        display: none;
    }
}

/* Detección de dispositivo touchscreen */

@media only screen and (hover: none) and (pointer: coarse){
    a{
        cursor: none;
    }
    body{
        /* overflow: auto; */
        cursor: none;
    }
    button{
        cursor: none;
    }
    .cursor{
        display: none;
    }
    /* .corner{
        display: none;
    } */
    .corner__area{
        display: none;
    }
    .corner__img{
        cursor: none;
    }
    .main__dot{
        border-radius: 2.5rem;
        width: 28.125rem;
        height: 4.6875rem;
    }
    .delay__first{
        animation: dot__mobile 10s 0s ease infinite both;
    }
    .delay__second{
        animation: dot__mobile 10s 0.5s ease infinite both;
    }
    .delay__third{
        animation: dot__mobile 10s 1s ease infinite both;
    }
    .delay__fourth{
        animation: dot__mobile 10s 1.5s ease infinite both;
    }
    .main__a{
        opacity: 1;
    }
}