/* Normalizar / Reset */
*{
    margin:0;
    padding: 0;
    border:0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
html{
    
    font-size: 100%;
}
h1 , h2 , h3 , h4 , h5 , h6 , p , strong{
    font-weight: inherit;
    font-size: inherit;
    font-style: normal;
}
img{
    display: block;
    width: 100%;
    max-width: 100%;
}
svg{
    display: block;
    width: 100%;
    max-width: 100%;
}
a{
    color:inherit;
    text-decoration: none;

    cursor: crosshair;
}
body{
    /* font-family: 'Montserrat', sans-serif; */
    /* text-transform: uppercase; */
    /* font-weight: 400; */
    /* letter-spacing: 2px; */
    color:white;
    background-color: rgb(0, 0, 0);
    /* background-color: #0f0f0f; */

    cursor: none;

    position: relative;
    overflow: hidden;
}
button{
    background-color: rgba(0, 0, 0, 0);
    cursor: crosshair;
    color:white;
}

/*=================================================*/

.cursor__tail{
    background-color: gray;
    width: 3.75rem;
    min-height: 3.75rem;
    border-radius: 50%;
    display: block;

    position: absolute;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    opacity: 0;
}
.cursor__tail.active{
    opacity: 1;
}
.follow__fifth{
    /* background-color: gray; */
    filter: blur(1rem);
    box-shadow: 0 0 100px 20px gray;
    transition: 1.5s all 0s linear;
    /* transition: 1.5s all 0s ease; */
}
.follow__fourth{
    /* background-color: gray; */
    filter: blur(1rem);
    box-shadow: 0 0 100px 40px gray;
    transition: 1s all 0s linear;
    /* transition: 1s all 0s ease; */
}
.follow__third{
    /* background-color: gray; */
    filter: blur(1rem);
    box-shadow: 0 0 100px 60px gray;
    transition: .6s all 0s linear;
    /* transition: .6s all 0s ease; */
}
.follow__second{
    /* background-color: gray; */
    filter: blur(1rem);
    box-shadow: 0 0 100px 80px gray;
    transition: .3s all 0s linear;
    /* transition: .3s all 0s ease; */
}
.follow__first{
    /* background-color: gray; */
    filter: blur(1rem);
    box-shadow: 0 0 100px 100px gray;
    transition: .1s all 0s linear;
    /* transition: .1s all 0s ease; */
}
.cursor{
    background-color: white;
    width: 3.75rem;
    min-height: 3.75rem;
    border-radius: 50%;
    display: block;

    position: absolute;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

}
.cursor__inner{
    background-color: white;
    /* background-color: lightcoral; */
    /* background-color: lightgreen; */
    /* background-color: lightskyblue; */
    width: 1.25rem;
    height: 1.25rem;
    border: .0625rem solid black;
    border-radius: 50%;
}

.corner{
    /* background-color: orange; */
    /* border: 2px dotted red; */
    width: 12.5rem;
    height: 12.5rem;

    position: fixed;
}
.top__left{
    border-bottom-right-radius: 60%;

    top: 0;
    left: 0;
}
.top__right{
    border-bottom-left-radius: 60%;

    top: 0;
    right: 0;
}
.bottom__left{
    border-top-right-radius: 60%;

    bottom: 0;
    left: 0;
}
.bottom__right{
    border-top-left-radius: 60%;

    bottom: 0;
    right: 0;
}
.corner__area{
    background-color: white;
    width: 12.5rem;
    height: 12.5rem;

    position: absolute;
    top: 0;
    left: 0;

    cursor: crosshair;

    transition: .2s all 0s ease;    /* el efecto no sale como se espera */
}
.home__hide{
    border-bottom-right-radius: 60%;

    top: 0;
    left: 0;

    transform: translateX(-100%) translateY(-100%);
}
.corner:hover .home__hide{
    transform: translateX(0%) translateY(0%);
}
.drop__hide{
    border-bottom-left-radius: 60%;

    top: 0;
    right: 0;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: flex-start;

    transform: translateX(100%) translateY(-100%);
}
.corner:hover .drop__hide{
    transform: translateX(0%) translateY(0%);
}
.color__option{
    /* background-color: burlywood; */
    width: 85%;
    height: 85%;

    position: absolute;
    top: 0;
    right: 0;
}
.color__btn{
    /* background-color: brown; */
    width: 1.5rem;
    height: 1.5rem;
    padding: 25px;
    border: .125rem solid black;
    border-radius: 20px;

    position: absolute;

    transition: .2s all 0s ease;
}
.color__btn:hover{
    transform: scale(0.85);
}
.color__btn:active{
    transform: scale(1.1);
}
.color__red{
    /* background-color: red; */
    top: 20px;
    left: 20px;
}
.color__red:hover{
    background-color: red;
}
.color__green{
    /* background-color: lime; */
    bottom: 20px;
    left: 20px;
}
.color__green:hover{
    background-color: lime;
}
.color__blue{
    /* background-color: blue; */
    bottom: 20px;
    right: 20px;
}
.color__blue:hover{
    background-color: blue;
}
.color__none{
    /* background-color: grey; */
    top: 20px;
    right: 20px;
    border: none;
}
.color__svg{
    /* background-color: aqua; */
    width: 80%;
    height: 80%;
    /* margin: auto; */
    /* padding: 25px; */
    position: absolute;
    top: 0;
    left: 0;
    top: calc( 50% - 80% / 2 );
    left: calc( 50% - 80% / 2 );

    transition: .2s all 0s ease;
}
.color__none:hover .color__svg{
    transform: scale(2);
}
.linkedin__hide{
    border-top-right-radius: 60%;

    bottom: 0;
    left: 0;

    transform: translateX(-100%) translateY(100%);
}
.corner:hover .linkedin__hide{
    transform: translateX(0%) translateY(0%);
}
.github__hide{
    border-top-left-radius: 60%;

    bottom: 0;
    right: 0;

    transform: translateX(100%) translateY(100%);
}
.corner:hover .github__hide{
    transform: translateX(0%) translateY(0%);
}
.corner__img{
    /* background-color: rgba(122, 217, 255, 0.507); */
    width: 80%;
    padding: .625rem;

    position: absolute;

    cursor: crosshair;
}
.home__img{
    top: 0;
    left: 0;
}
.home__black{
    /* background-color: rgba(122, 217, 255, 0.507); */
    /* width: 250px; */
    /* height: 250px; */
    /* border-bottom-right-radius: 60%; */

    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;

    transition: 0.2s all 0.05s ease;
}
.home__hide:hover .home__black{
    /* background-color: brown; */
    opacity: 1;
    /* transform: translateX(0%) translateY(0%); */
}
.drop__img{
    height: 80%;
    /* background-image: url(../assets/icon-drop-white.png); */
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;

    top: 0;
    right: 0;

    animation: rgb__white 5s 0s ease infinite both;
}
.drop__black{
    height: 80%;
    /* background-image: url(../assets/icon-drop-black.png); */
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;

    top: 0;
    right: 0;

    animation: rgb__black 5s 0s ease infinite both;
}
.linkedin__img{
    bottom: 0;
    left: 0;
}
.github__img{
    bottom: 0;
    right: 0;
}

/*-------------------------------------------------*/

.header{
    /* background-color: burlywood; */
    /* width: 1000px; */
    width: 70%;
    /* min-height: 20vh; */
    min-height: 200px;
    /* padding: .625rem; */

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;

    position: fixed;
    top: 0;

    z-index: 1;

    /* left: calc( 50% - 1000px / 2 ); */
    left: calc( 50% - 70% / 2 );
}
.header__a{
    /* background-color: yellow; */
    /* width: 740px; */
    /* width: 100%; */
    height: 100%;
    margin: auto auto 0 auto;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.header__h1{
    /* background-color: orange; */

    color: white;
    font-size: 6rem;
    font-family: 'Caveat', cursive;
    text-transform: uppercase;
    text-align: center;

    transition: 0.2s all 0s ease;
}
.header__a:hover .header__h1{
    font-size: 6.5rem;
    letter-spacing: 8px;
}
.header__separator{                     /* <-- Debería ser un :after */
    background-color: white;
    width: 100%;
    min-height: 2px;
    margin-bottom: 1rem;

    animation: grow 1.2s 0s ease 1 backwards;
}
@keyframes grow{
    0%{
        transform: scaleX(0);
    }
    100%{
        transform: scaleX(1);
    }
}

/*-------------------------------------------------*/

.main{}
.main__grid{
    /* background-color: gray; */
    /* background-color: white; */
    /* width: 1000px; */
    width: 80%;
    /* height: 560px; */
    height: 60%;
    /* padding: 0.5rem; */

    display: grid;
    grid-template-columns: repeat( 7 , 1fr );
    /* grid-gap: 0.5rem; */

    position: fixed;
    /* top: calc( 50% - 560px / 2 ); */
    top: calc( 50% - 60% / 2 );
    /* left: calc( 50% - 1000px / 2 ); */
    left: calc( 50% - 80% / 2 );

    cursor: crosshair;
}
.main__cell{
    background-color: rgba(0, 0, 0, 0);
    background-color: white;
    /* padding: .5rem; */
    /* border: 0.1rem solid white; */

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    position: relative;
}
.main__number{
    background-color: black;
    width: 100%;
    height: 100%;
    /* width: 50px; */
    /* height: 50px; */

    /* border-radius: 50%; */

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    /* color: black; */
    font-size: 2rem;
    font-family: 'Caveat', cursive;
    text-transform: uppercase;

    transition: 0.2s all 0s ease;
}
.main__number:hover{
    border-top-left-radius: 30px;
    border-bottom-right-radius: 60px;
}
.main__lightbox{
    background-color: rgba(0, 0, 0, 0.5);
    /* background-color: aqua; */
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    transition: all .2s ease;
    opacity: 0;
    pointer-events: none;

    z-index: 1;
}
.main__lightbox.active{
    opacity: 1;
    pointer-events: auto;
}
.lightbox__img{
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 500px;
    padding: 1rem;
    border-radius: 30px;
}
.lightbox__ul{
    /* background-color: red; */
    /* width: 100%; */
    width: 500px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}
.lightbox__li{
    /* background-color: green; */
    /* width: 100%;
    height: 100%; */

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.lightbox__a{
    /* background-color: white; */
    /* background-color: rgb(248, 187, 73); */
    /* width: 25%; */

    /* padding: 1rem;
    border-radius: 50px;*/

    transition: all .2s ease;

    cursor: pointer;
}
.lightbox__a:hover{
    transform: scale(0.85);
}
.lightbox__a:active{
    transform: scale(1.1);
}
.lightbox__insta{
    background-color: white;
    width: 65px;
    height: 65px;
    padding: 6px;

    /* border-radius: 50%; */
    border-radius: 20px;
}
.lightbox__span{
    background-color: white;
    width: 300px;
    /* height: 65px; */
    /* width: 40%; */
    /* width: 500px; */
    /* height: 100%; */

    border-radius: 20px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    color: black;
    font-size: 2rem;
    font-family: 'Caveat', cursive;
    text-transform: uppercase;
}
.lightbox__btn{
    background-color: white;
    /* background-color: rgb(248, 187, 73); */
    width: 65px;
    height: 65px;
    /* width: 25%; */
    padding: 1rem;
    /* border-radius: 50%; */
    border-radius: 20px;

    transition: all .2s ease;
}
.lightbox__btn:hover{
    transform: scale(0.85);
}
.lightbox__btn:active{
    transform: scale(1.1);
}
.lightbox__svg{
    width: 30px;
    height: 30px;
}
.day{
    background-color: rgba(0, 255, 0, 0);
    /* border: 0.25rem dotted red; */
    border: none;
    padding: 0;

    cursor: none;
}
.main__span{
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    color: black;
    font-size: 2rem;
    font-family: 'Caveat', cursive;
    text-transform: uppercase;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.empty{
    background-color: rgba(0, 255, 0, 0);
    border: none;

    cursor: none;
}

/*-------------------------------------------------*/

.footer{
    /* background-color: burlywood; */
    width: 300px;
    /* min-height: 11.875rem; */
    min-height: 200px;
    /* padding: .625rem; */

    position: fixed;
    bottom: 0;
    left: calc( 50% - 300px / 2 );

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.footer__h2{
    /* background-color: yellow; */
    width: 150px;
    height: 150px;
    padding: .625rem;
    border-radius: 50%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.footer__logo{
    width: 100%;
    height: 100%;

    z-index: 1;
}

/*-------------------------------------------------*/

@keyframes rgb__white{
    0%{
        /* background-color: rgba(255, 0, 0, 0.2); */
        /* filter: hue-rotate(0deg) saturate(100%) brightness(50%); */
        background-image: url(../assets/icon-drop-white-red.png);
    }
    33%{
        /* background-color: rgba(0, 255, 0, 0.2); */
        /* filter: hue-rotate(120deg) saturate(1000%) brightness(1000%); */
        background-image: url(../assets/icon-drop-white-green.png);
    }
    66%{
        /* background-color: rgba(0, 0, 255, 0.2); */
        /* filter: hue-rotate(60deg) saturate(1000%) brightness(500%); */
        background-image: url(../assets/icon-drop-white-blue.png);
    }
    100%{
        /* background-color: rgba(255, 0, 0, 0.2); */
        /* filter: hue-rotate(50deg) saturate(50%) brightness(50%); */
        background-image: url(../assets/icon-drop-white-red.png);
    }
}
@keyframes rgb__black{
    0%{
        /* background-color: rgba(255, 0, 0, 0.2); */
        /* filter: hue-rotate(0deg) saturate(100%) brightness(50%); */
        background-image: url(../assets/icon-drop-black-red.png);
    }
    33%{
        /* background-color: rgba(0, 255, 0, 0.2); */
        /* filter: hue-rotate(120deg) saturate(1000%) brightness(1000%); */
        background-image: url(../assets/icon-drop-black-green.png);
    }
    66%{
        /* background-color: rgba(0, 0, 255, 0.2); */
        /* filter: hue-rotate(60deg) saturate(1000%) brightness(500%); */
        background-image: url(../assets/icon-drop-black-blue.png);
    }
    100%{
        /* background-color: rgba(255, 0, 0, 0.2); */
        /* filter: hue-rotate(50deg) saturate(50%) brightness(50%); */
        background-image: url(../assets/icon-drop-black-red.png);
    }
}

/*-------------------------------------------------*/

@media(max-width: 1500px){}
@media(max-width: 1400px){
    .corner, .corner__area{
        width: 9.375rem;
        height: 9.375rem;
    }
    .color__btn{
        /* background-color: brown; */
        width: 1rem;
        height: 1rem;
        padding: 25px;
        border: .125rem solid black;
        border-radius: 20px;
    
        position: absolute;
    
        transition: .2s all 0s ease;
    }
    .color__red{
        /* background-color: red; */
        top: 5px;
        left: 5px;
    }
    .color__green{
        /* background-color: lime; */
        bottom: 5px;
        left: 5px;
    }
    .color__blue{
        /* background-color: blue; */
        bottom: 5px;
        right: 5px;
    }
    .color__none{
        /* background-color: grey; */
        top: 5px;
        right: 5px;
        border: none;
    }
    .header{
        /* width: 600px; */
        min-height: 150px;
        /* left: calc( 50% - 600px / 2 ); */
    }
    .header__h1{
        font-size: 4rem;
        font-family: 'Caveat', cursive;
        text-transform: uppercase;
    
        transition: 0.2s all 0s ease;
    }
    .header__a:hover .header__h1{
        font-size: 4.5rem;
        letter-spacing: 3px;
    }
    .main__grid{
        /* width: 600px; */
        /* height: 500px; */

        grid-template-columns: repeat( 7 , 1fr );

        position: fixed;
        /* top: calc( 50% - 400px / 2 ); */
        /* left: calc( 50% - 600px / 2 ); */
    }
    .footer{
        min-height: 150px;
    }
    
}
@media(max-width: 1200px) /*or (max-height: 750px)*/{}
@media(max-width: 1100px){
    .header{
        width: 65%;
        left: calc( 50% - 65% / 2 );
    }
}
@media(max-width: 900px) /*or (max-height: 600px)*/{
    .corner, .corner__area{
        width: 9.375rem;
        height: 9.375rem;
    }
    .header{
        width: 60%;
        left: calc( 50% - 60% / 2 );
    }
}
@media(max-width: 750px) /*or (max-height: 525px)*/{
    .main__area{
        width: 10.9375rem;
        height: 3.75rem;
    }
    .header{
        width: 56%;
        left: calc( 50% - 56% / 2 );
    }
    .header__h1{
        font-size: 2.9rem;
    }
    .header__a:hover .header__h1{
        font-size: 2.9rem;
    }
}
@media(max-width: 500px){
    body{
        overflow: auto;
        cursor: crosshair;
    }
    .cursor{
        display: none;
    }
    .corner{
        display: none;
    }
    .header{
        background-color: black;
        width: 100%;
        min-height: 50px;
        left: calc( 50% - 100% / 2 );
    }
    .header__h1{
        font-size: 2.9rem;
    }
    .header__a:hover .header__h1{
        font-size: 2.9rem;
        letter-spacing: 0px;
    }
    .main__grid{
        /* height: 10000px; */
        margin: 150px auto;
        grid-template-columns: repeat( 1, 1fr );

        position: initial;
        /* display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center; */
    }
    .main__cell{
        /* width: 200px; */
        width: 60%;
        min-height: 180px;
        margin: 0 auto;
    }
    .main__number{
        
        border: 2px solid white;
        border-top-left-radius: 30px;
        border-bottom-right-radius: 60px;
        /* border-top-left-radius: 60px;
        border-bottom-right-radius: 120px; */
    }
    .main__number:hover{
        /* border-top-left-radius: 60px;
        border-bottom-right-radius: 120px; */
    }
    .day{
        display: none;
    }
    .empty{
        display: none;
    }
    .lightbox__img{
        max-width: 300px;
    }
    .lightbox__ul{
        max-width: 300px;
        gap: 0;
    }
    .lightbox__insta{
        width: 50px;
        height: 50px;
    }
    .lightbox__span{
        width: 150px;
        font-size: 1.2rem;
        padding: 0;
    }
    .lightbox__btn{
        width: 50px;
        height: 50px;
    }
    .lightbox__svg{
        width: 20px;
        height: 20px;
    }
    .footer{
        background-color: black;
        border: 2px solid white;

        width: 75px;
        min-height: 75px;

        position: fixed;
        bottom: -1%;
        left: calc( 50% - 75px / 2 );

        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    .footer__h2{
        width: 100%;
        height: 100%;
        padding: 0;
    }
    .footer__logo{
        /* background-color: aqua; */
        width: 70%;
        height: 70%;
    }
}
/* @media(max-width: 500px){}
@media(max-width: 450px){} */
@media(max-width: 360px){
    .header__h1{
        font-size: 2.4rem;
    }
    .header__a:hover .header__h1{
        font-size: 2.4rem;
    }
    .lightbox__img{
        max-width: 300px;
    }
    .lightbox__ul{
        max-width: 300px;
    }
    .lightbox__insta{
        width: 50px;
        height: 50px;
    }
    .lightbox__span{
        width: 150px;
        font-size: 1.2rem;
    }
    .lightbox__btn{
        width: 50px;
        height: 50px;
    }
    .lightbox__svg{
        width: 20px;
        height: 20px;
    }
}



@media(max-height: 860px){
    .corner, .corner__area{
        width: 9.375rem;
        height: 9.375rem;
    }
    .color__btn{
        /* background-color: brown; */
        width: 1rem;
        height: 1rem;
        padding: 25px;
        border: .125rem solid black;
        border-radius: 20px;
    
        position: absolute;
    
        transition: .2s all 0s ease;
    }
    .color__red{
        /* background-color: red; */
        top: 5px;
        left: 5px;
    }
    .color__green{
        /* background-color: lime; */
        bottom: 5px;
        left: 5px;
    }
    .color__blue{
        /* background-color: blue; */
        bottom: 5px;
        right: 5px;
    }
    .color__none{
        /* background-color: grey; */
        top: 5px;
        right: 5px;
        border: none;
    }
    .header{
        /* width: 600px; */
        min-height: 150px;
        /* left: calc( 50% - 600px / 2 ); */
    }
    .header__h1{
        font-size: 4rem;
        font-family: 'Caveat', cursive;
        text-transform: uppercase;
    
        transition: 0.2s all 0s ease;
    }
    .header__a:hover .header__h1{
        font-size: 4.5rem;
        letter-spacing: 3px;
    }
    .main__grid{
        height: 50%;
        top: calc( 50% - 50% / 2 );
    }
    .footer{
        background-color: black;
        border: 2px solid white;

        width: 75px;
        min-height: 75px;

        position: fixed;
        bottom: -1%;
        left: calc( 50% - 75px / 2 );

        /* z-index: -1; */

        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    .footer__h2{
        width: 100%;
        height: 100%;
        padding: 0;
    }
    .footer__logo{
        /* background-color: aqua; */
        width: 70%;
        height: 70%;
    }
}
@media(max-height: 650px){
    body{
        overflow: auto;
        cursor: crosshair;
    }
    .cursor{
        display: none;
    }
    .corner{
        display: none;
    }
    .header{
        background-color: black;
        width: 100%;
        min-height: 50px;
        left: calc( 50% - 100% / 2 );

        z-index: -1;
    }
    .header__h1{
        font-size: 2.9rem;
    }
    .header__a:hover .header__h1{
        font-size: 2.9rem;
        letter-spacing: 0px;
    }
    .lightbox__img{
        max-width: 240px;
    }
    .lightbox__ul{
        max-width: 300px;
        gap: 0;
    }
    .lightbox__insta{
        width: 50px;
        height: 50px;
    }
    .lightbox__span{
        width: 150px;
        font-size: 1.2rem;
        padding: 0;
    }
    .lightbox__btn{
        width: 50px;
        height: 50px;
    }
    .lightbox__svg{
        width: 20px;
        height: 20px;
    }
    .footer{
        background-color: black;
        border: 2px solid white;

        width: 75px;
        min-height: 75px;

        position: fixed;
        bottom: -1%;
        left: calc( 50% - 75px / 2 );

        /* z-index: -1; */

        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    .footer__h2{
        width: 100%;
        height: 100%;
        padding: 0;
    }
    .footer__logo{
        /* background-color: aqua; */
        width: 70%;
        height: 70%;
    }
}
@media(max-height: 450px){
    /* body{
        overflow: auto;
        cursor: crosshair;
    }
    .cursor{
        display: none;
    }
    .corner{
        display: none;
    } */
    /* .header{
        background-color: black;
        width: 100%;
        min-height: 50px;
        left: calc( 50% - 100% / 2 );

        z-index: -1;
    }
    .header__h1{
        font-size: 2.9rem;
    }
    .header__a:hover .header__h1{
        font-size: 2.9rem;
        letter-spacing: 0px;
    } */
    .main__grid{
        /* width: 300%; */
        height: 125px;
        top: calc( 50% - 125px / 2 );
        grid-template-columns: repeat( 31, 1fr );

        /* position: initial;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center; */

        overflow-x: scroll;
        overflow-y: scroll;
    }
    .main__cell{
        width: 250px;
        /* min-height: 280px; */
        min-height: 60%;
        width: 180px;
    }
    .main__number{
        border: 2px solid white;
        border-top-left-radius: 30px;
        border-bottom-right-radius: 60px;
    }
    .main__number:hover{
        /* border-top-left-radius: 30px;
        border-bottom-right-radius: 60px; */
    }
    .day{
        display: none;
    }
    .empty{
        display: none;
    }
    /* .lightbox__img{
        max-width: 240px;
    }
    .lightbox__ul{
        max-width: 300px;
        gap: 0;
    }
    .lightbox__insta{
        width: 50px;
        height: 50px;
    }
    .lightbox__span{
        width: 150px;
        font-size: 1.2rem;
        padding: 0;
    }
    .lightbox__btn{
        width: 50px;
        height: 50px;
    }
    .lightbox__svg{
        width: 20px;
        height: 20px;
    } */
    /* .footer{
        background-color: black;
        border: 2px solid white;

        width: 75px;
        min-height: 75px;

        position: fixed;
        bottom: -1%;
        left: calc( 50% - 75px / 2 );

        z-index: -1;

        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    .footer__h2{
        width: 100%;
        height: 100%;
        padding: 0;
    }
    .footer__logo{
        background-color: aqua;
        width: 70%;
        height: 70%;
    } */
}
/* @media(max-height: 600px){
    .corner, .corner__area{
        width: 9.375rem;
        height: 9.375rem;
    }
    .header{
        width: 60%;
        left: calc( 50% - 60% / 2 );
    }
} */
/* @media(max-height: 525px){

} */